In [25]:
def cities2():
    lst = []

    while True:
        city = input('Enter city: ')

        if city == '':
            #return lst
            break

        lst.append(city)
    return lst

In [26]:
cities2()

Enter city: chicago
Enter city:

['chicago']

In [39]:
table = [[2, 3, 0, 6],[0, 3, 4, 5],[4, 5, 6, 0]]

In [40]:
def ignore0(table):
    for row in table:
        
        for num in row:
            
            if num == 0:
                continue
                
            print(num, end=' ')
                  
        print()

In [41]:
ignore0(table)

2 3 6
3 4 5
4 5 6

In [55]:
value = int(input("Number? "))

while value != -1:
    
    if value % 2 == 0:
        
        value += 10
        
    elif value == 0:
        
        print("value is 0")
        
        continue
        
    else: 
        
        value += 5
        
    print("value: {}".format(value))
    
    value = int(input("Number? "))

Number? -1

In [78]:
data = {
    '864-20-9753':['Anna', 'Karenina'],
    '987-65-4321':['Yu', 'Tsun'],
    '100-01-0010':['Hans', 'Castorp'],
    '001': ['abc', 'edf'],
    '001': ['xyz', 'aaa']
}

In [79]:
data

{'864-20-9753': ['Anna', 'Karenina'],
 '987-65-4321': ['Yu', 'Tsun'],
 '100-01-0010': ['Hans', 'Castorp'],
 '001': ['xyz', 'aaa']}

In [57]:
data.keys()

dict_keys(['864-20-9753', '987-65-4321', '100-01-0010'])

In [58]:
data.items()

dict_items([('864-20-9753', ['Anna', 'Karenina']), ('987-65-4321', ['Yu', 'Tsun']), ('100-01-0010', ['Hans', 'Castorp'])])

In [59]:
data['864-20-9753']

['Anna', 'Karenina']

In [60]:
data.update({'864-20-9753':['Bill', 'Gates']})

In [61]:
data

{'864-20-9753': ['Bill', 'Gates'],
 '987-65-4321': ['Yu', 'Tsun'],
 '100-01-0010': ['Hans', 'Castorp']}

In [62]:
data.values()

dict_values([['Bill', 'Gates'], ['Yu', 'Tsun'], ['Hans', 'Castorp']])

In [74]:
data.update({'001':['Jane', 'Doe']})
data.update({'001':['John', 'Doe']})

In [75]:
data

{'864-20-9753': ['Anna', 'Karenina'],
 '987-65-4321': ['Yu', 'Tsun'],
 '100-01-0010': ['Hans', 'Castorp'],
 '001': ['John', 'Doe']}

In [69]:
days = {'Mo': 1, 'Tu': 2, 'Th': 4, 'W': 3}

In [70]:
def complete(abbreviation):
    'returns day of the week corresponding to abbreviation'

    days = {'Mo': 'Monday', 'Tu':'Tuesday', 'We': 'Wednesday',
            'Th': 'Thursday', 'Fr': 'Friday', 'Sa': 'Saturday',
            'Su':'Sunday'}

    return days[abbreviation]

In [72]:
complete('Tu')

'Tuesday'

Side PanelExpand side panel
Breadcrumb:
ExampleProblem_CustData 
Word Document
 
 
Example Problem

Write a program that reads customer order data from a file. Each customer data contains customer id, order number, product name, type, product category, product quantity, price per item/unit. The program will calculate each customerâ€™s total, total for all orders, and print a tabular report of the orders.

Note: The user will provide the name of the file containing customer data.

In [82]:
data = open('custData.txt', mode='r+')
data.read()

'123, 00450, paper towel, household, kitchen, 4, 3.50\n124, 00461, dish detergent, household,kitchen, 6, 15.99 \n125, 00470, action camera, electronics,cameras, 1, 299.99 \n126, 00478, laptop, electronics,computers, 2, 549.99 \n127, 00473, beef, grocery,freezer, 3, 12.99 \n128, 00453, strawberries , grocery,produce, 2, 3.98 \n\n'

In [124]:
def getData():
    fh = open('custData.txt', mode='r+')
    data = fh.readlines()
    return data

def processData(custInfo):
    
    r = dict()
    
    for line in custInfo:    
        
        custData = line.strip().split(',')
        
        itemPrice = float(custData[-1])
        itemQty = int(custData[-2])
        total = itemPrice * itemQty
        itemCat = custData[-3].strip()
        itemType = custData[-4].strip()
        itemName = custData[-5].strip()
        orderNum = custData[-6].strip()
        _id = custData[-7].strip()
        
        r[_id] = {
            'itemPrice': itemPrice,
            'itemQty': itemQty,
            'total': total,
            'itemCat': itemCat,
            'itemType': itemType,
            'itemName': itemName,
            'orderNum': orderNum
        }
        
    return r

def calculations(data):
    overallTotal = 0
    customerTotal = dict()
    customers = []
    for x in data.items():
        customerTotal[x[0]] = x[1]['total']
        overallTotal += x[1]['total']
        customers.append(x[0])
    
    
    print(
        'Customer: {} Total: {} \nCustomer: {} Total: {} \nCustomer: {} Total: {} \nCustomer: {} Total: {} \nCustomer: {} Total: {} \nCustomer: {} Total: {} \n \nAll Customers: {}'.format(
            customers[0],
            customerTotal[customers[0]],
            
            customers[1],
            customerTotal[customers[1]],
            
            customers[2],
            customerTotal[customers[2]],
            
            customers[3],
            customerTotal[customers[3]],
            
            customers[4],
            customerTotal[customers[4]],
            
            customers[5],
            customerTotal[customers[5]],
            
            overallTotal
        )
    )
    
    

calculations(processData(getData()))

Customer: 123 Total: 14.0
Customer: 124 Total: 95.94
Customer: 125 Total: 299.99
Customer: 126 Total: 1099.98
Customer: 127 Total: 38.97
Customer: 128 Total: 7.96

All Customers: 1556.8400000000001